# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Project Specific
scripts/nssm.exe
